* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

iframe {
  width: 100%;
  border-radius: 6px;
  display: block;
  margin: auto;
}

#nav {
  background-color: rgba(75, 45, 46, 0.4);
  text-align: center;
  padding: 20px;
  margin: 3px;
  border-radius: 5px;
}

.main {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.item {
  border: 0.2px solid gray;
  padding: 0.25em;
}

.wiki {
  grid-column: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.NER {
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}

.vis {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #b4d0db;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #f1f1f1;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /*border: 1px solid #ccc;*/
  border-top: none;
}

.heading {
  border: 1px solid #ccc;
  background-color: #b4d0db;
  padding: 14px 16px;
  text-align: center;
  text-rendering: auto;
}

.middle {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  border: 0.2px solid gray;
  padding: 0.25em;
}

/* Style the search field */
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  max-width: 150px;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

#entities {
  max-height: 300px;
  overflow-y: scroll;
}

.about {
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 60px;
  background-color: rgba(180, 208, 219, 0.3);
  border-radius: 8px;
  text-align: center;
}

.about_text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2;
  text-align: justify;
  max-width: 80%;
  padding: 20px;
  margin: 5px;
  border: 10px;
}

h1 {
  background-color: rgba(218, 114, 60, 0.4);
  border: none;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  color: #fdf1d6;
}

a {
  text-align: center;
}

form#type-selector label {
  padding-left: 5px;
  padding-right: 10px;
}

li.entity-link {
  cursor: pointer;
}

li.entity-link:hover {
  color: grey;
}